html {
  scroll-behavior: smooth;
}

#root {
  background-image: url('src/assets/twotoned.jpeg');
}

#hikes-index,
#trails-index,
#footer {
  color: rgb(239, 226, 226);
}

#make-invisible {
  opacity: .25;
}

.map-container {
  height: 400px;
}

#forecast-index {
  margin: right;
  width: 60%;
  border: 3px solid #413ba9;
  padding: 10px;
  background-color: aliceblue;
  
}
